resource-pack=https://github.com/diegokaos/ventura-resourcepack/releases/latest/download/VenturaFishing-ResourcePack-1.21.x.zip
resource-pack-sha1=206e6b2945e0b5fcc8225bce982475a236da7bde
require-resource-pack=true
