resource-pack=https://github.com/diegokaos/ventura-resourcepack/releases/latest/download/VenturaFishing-ResourcePack-1.21.x.zip
resource-pack-sha1=c309dcd11fa1988996dfcaa443f9dcac335a7afc
require-resource-pack=true
