resource-pack=https://github.com/diegokaos/ventura-resourcepack/releases/latest/download/VenturaFishing-ResourcePack-1.21.x.zip
resource-pack-sha1=b1ee589366651b1f26ad14157c347ef896f5dcd7
require-resource-pack=true
